/* 
body{
    margin: 0;
    height: 100%;
}
table{
    /* for equal space */
    /* margin: auto;
    padding: 10px;

#logo{
    width: 100px;
    height: 100px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
iframe{
    border: 10;
}
.modal-body{
    margin: 0;
    padding: 0;
    border: 0;
}
.motorcycle{
    height: 100px;

}
.row img{
    max-width: 50%;
    padding: 20;
} */ */